replicaCount: 2

image:
  repository: ghcr.io/ruanmcsilva/kubepod-app
  tag: "79c36a0cb4f839f0cd48facc1475b4c9b365f3b4"
  pullPolicy: IfNotPresent

resources:
  limits:
    cpu: "100m"
    memory: "128Mi"
  requests:
    cpu: "50m"
    memory: "64Mi"

autoscaling:
  enabled: false

serviceAccount:
  create: false
  name: "default"

service:
  port: 80
  targetPort: 8000
