replicaCount: 2

image:
  repository: kubepod-app
  tag: "2.0"
  pullPolicy: Never

resources:
  limits:
    cpu: "100m"
    memory: "128Mi"
  requests:
    cpu: "50m"
    memory: "64Mi"

autoscaling:
  enabled: false

serviceAccount:
  create: false
  name: "default"

service:
  port: 80
  targetPort: 8000
