replicaCount: 2

image:
  repository: ghcr.io/ruanmcsilva/kubepod-app
  tag: "3694b20f9dc0d9a67d99922313af8eea5a4109c2"
  pullPolicy: IfNotPresent

resources:
  limits:
    cpu: "100m"
    memory: "128Mi"
  requests:
    cpu: "50m"
    memory: "64Mi"

autoscaling:
  enabled: false

serviceAccount:
  create: false
  name: "default"

service:
  port: 80
  targetPort: 8000
