name: CI - Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./kubepod-app
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/kubepod-app:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/kubepod-app:latest

        - name: Update GitOps repo
          run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          sed -i "s/tag:.*/tag: \"${{ github.sha }}\"/" kubepod/values-prod.yaml
          git add kubepod/values-prod.yaml
          git commit -m "chore: update image tag to ${{ github.sha }} [skip ci]"
          git push
